
.hor-bar-container {
    height: 60px;
    width: 171px;
}

.ver-bar-container {
    width: 60px;
    height: 171px;
}

.bar-container {    
    display: flex;
    align-items: baseline;
    background: #FFFFFF;
    box-shadow: inset 0px 0px 29px rgba(196, 196, 196, 0.5);
    border-radius: 10px;
}

.hor-bar-value {
    height: 40px;
    width: 164px;
}

.ver-bar-value {
    width: 40px;
    height: 164px;
}

.bar-value {
    background: #4686FF;
    opacity: 1;
    border-radius: 7px;
    align-self: flex-end;
    margin-block-end: 7px;
    margin-inline-start: 9px;
    
    .precentage-value {
        font-family: Exo;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
        text-align: center;
        color: #4686FF; 
        align-self: center;
        position: fixed;
        margin-left: 68px;
        margin-top: 7px;
        mix-blend-mode: difference;
    }

}

.bar-legend {
    margin-left: 2px;
}


