<div class="main-shell-container">

    <div appResolutionFit class="shell-top-bar-icon">
        <svg-icon class="logo-icon" [name]="'logo_img'" [svgStyle]="{'width.px':64, 'height.px':64, 'padding.px':1}"></svg-icon>
        <div class="logo-text">HIGHPPER</div>
    </div>

    <div class="shell-top-bar-container">
        toolbar    
    </div>

    <div class="shell-side-bar-container">
        <div class="shell-side-button">
            <app-shell-button 
                [selected]="viewState == 'main'" 
                (onClick)="viewState = 'main'; onViewStateCahnged.emit(viewState);"
                [title]="'Main page'" 
                [icon]="'shl_main'">
            </app-shell-button>
        </div>
        <div class="shell-side-button">
            <app-shell-button 
                [selected]="viewState == 'prod'" 
                (onClick)="viewState = 'prod'; onViewStateCahnged.emit(viewState);"
                [title]="'Pizza in production'" 
                [icon]="'shl_prod'">
            </app-shell-button>
        </div>
        <div class="shell-side-button">
            <app-shell-button 
                [selected]="viewState == 'container'" 
                (onClick)="viewState = 'container'; onViewStateCahnged.emit(viewState);"
                [title]="'Container update'" 
                [icon]="'shl_container'">
            </app-shell-button>        
        </div>        
    </div>
    <ng-content></ng-content>

</div>
