<div class="grid-container">

    <div class="grid-header-container">
        <div class="grid-header-item">item</div>  <!-- ngFor -->  
        <div class="grid-header-item">item 2</div>  <!-- ngFor -->  
    </div>


    <div class="grid-body-container">
        <div class="grid-body-line">
            <div class="grid-cell-item"> <!-- ngFor -->
                cell item
            </div>
            <div class="grid-cell-item"> <!-- ngFor -->
                cell item 2
            </div>
        </div>    
    </div>

</div>