.sensor-container {
    display: grid;
    grid-template-columns: auto 1fr auto;
}

.sensor-icon {
    display: flex;
}

.sensor-title {

    font-family: Exo;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #444444;

}

.sensor-circle {
    width: 30px;
    height: 30px;
    background: #FFFFFF;
    box-shadow: inset 0px 0px 29px rgba(196, 196, 196, 0.5);
    border-radius: 141px;
    transform: matrix(1, 0, 0, -1, 0, 0);
}

.sensor-inner-circle {
    width: 24px;    
    height: 24px;
    
    border-radius: 120px;
    margin-left: 3px;
    margin-top: 3px;
}

.sensor-value {
    font-family: Exo;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    text-align: right;
    color: #444444;
}