.button-big {
    width: 160px;
    height: 160px;
}

.button-small {
   height: 40px;
   width: auto;
   margin-top: 51px;
}

.button-container {
    box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    background: #FDFDFD;
    margin-left: 20px;
    cursor: pointer;
}

.selected {
    background: #4686FF;
    color: #FDFDFD;
}

.selected-svg {
   /* color: #FDFDFD; */
   fill: teal;
}

.un-selected-title {
    color: #4686FF;
}

.button-title {
    font-family: Exo;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
    margin-top: -30px;
    max-width: 157px;
}

.button-title-no-icon {
    padding: 10px;
}